{% extends 'base_2.html' %}
{% load static %}
{% block body %}
  <div class="page-content">
    <div class="container">
      <div class="resume-container">
        <div style="margin-top: 5rem;margin-bottom: 3rem;" class="shadow-1-strong bg-white p-5" id="contact">
          <div class="contant-section">
            <h2 class="h2 fw-light text mb-4">Contact</h2>
            <div class="row mb-4">
              <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
                <div class="mt-1">
                  <div class="h6">
                    <i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> <a href="tel:+989365602081">+98936-560-2081</a>
                  </div>
                  <div class="h6">
                    <i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> <a href="mailto:sia.nb1379@gmail.com">sia.nb1379@gmail.com</a>
                  </div>
                </div>
                <div class="mt-5 d-print-none">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <input type="text" id="name" class="form-control" required name="name" />
                      <label class="form-label" for="name">Name</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="email" id="email" class="form-control" required name="email" />
                      <label class="form-label" for="email">Email address</label>
                    </div>
                    <div class="form-outline mb-4">
                      <textarea class="form-control" style="resize: none;" id="message" rows="4" required name="text"></textarea>
                      <label class="form-label" for="message">Message</label>
                    </div>
                    <button class="btn btn-secondary btn-block mb-4" type="submit">Send</button>
                  </form>
                </div>
              </div>
              <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100">
                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=tehran,iran+(My%20Business%20Name)&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block title %}
  Contact
{% endblock title %}
