<!DOCTYPE html>
{% load static %}
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        hello
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'" />
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
    </noscript>
    <link href="{% static 'css/font-awesome/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/aos.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <noscript>
      <style type="text/css">
        [data-aos] {
          opacity: 1 !important;
          transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
    {% block head %}

    {% endblock %}
  </head>

  <body class="bg-light" id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="pt-4 clearfix">
          <h1 class="site-title mb-0"><a href="{% url 'Home' %}">Home</a></h1>

          <div class="site-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Home' %}#about" title="About"><span class="menu-title">About</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Home' %}#skills" title="Skills"><span class="menu-title">Skills</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Home' %}#experience" title="Experience"><span class="menu-title">Experience</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Home' %}#education" title="Education"><span class="menu-title">Education</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Home' %}#portfolio" title="Portfolio"><span class="menu-title">Portfolio</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Home' %}#references" title="References"><span class="menu-title">References</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Contact' %}" title="Contact"><span class="menu-title">Contact</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blogs' %}" title="Blogs"><span class="menu-title">Blogs</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    {% block body %}

    {% endblock body %}

    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="my-3">
          <div class="h4">Amirhossein Nabipour</div>
          <div class="footer-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="https://twitter.com/__siavash" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.instagram.com/sianabipour" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/sianabipour" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="text-small">
          <div class="mb-1">&copy; Material Resume. All rights reserved.</div>
        </div>
      </div>
    </footer>
    <script src="{% static 'scripts/mdb.min.js' %}"></script>
    <script src="{% static 'scripts/aos.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>
